In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [1]:
# df_asso = [["소주","콜라","맥주"],
#            ["소주","콜라","와인"],
#            ["소주","주스"],
#            ["콜라","맥주"],
#            ["소주","콜라","맥주","와인"],
#            ["주스"]]
df_asso = [['우유','라면'],
           ['라면'],
           ['아이스크림','우유'],
           ['과자','라면'],
           ['아이스크림']]
df_asso

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [4]:
enc = TransactionEncoder()
arr = enc.fit_transform(X= df_asso)

df_pre = pd.DataFrame(arr,columns=enc.columns_)
df_pre

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

In [12]:
# min_support = 0.5

df_freq = apriori(df_pre,min_support=0.1,use_colnames=True)
df_freq.round(3)

   support     itemsets
0      0.2         (과자)
1      0.6         (라면)
2      0.4      (아이스크림)
3      0.4         (우유)
4      0.2     (라면, 과자)
5      0.2     (라면, 우유)
6      0.2  (우유, 아이스크림)

In [19]:
df_asso_rule = association_rules(df_freq,metric="confidence",min_threshold=0.5)
df_asso_rule.round(3)

  antecedents consequents     ...      leverage  conviction
0        (콜라)        (맥주)     ...         0.167    2.000000
1        (맥주)        (콜라)     ...         0.167         inf
2        (소주)        (콜라)     ...         0.056    1.333000
3        (콜라)        (소주)     ...         0.056    1.333000

[4 rows x 9 columns]