In [95]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
data = pd.read_csv('./상품구매.csv')
data.head()

     ID    PRODUCT
0  C-11   BAGUETTE
1  C-11    HERRING
2  C-11    AVOCADO
3  C-11  ARTICHOKE
4  C-11   HEINEKEN

In [59]:
data.ID.value_counts()

C-22    7
C-11    7
C-27    7
C-18    7
C-21    7
C-28    7
C-14    7
C-17    7
C-23    7
C-15    7
C-20    7
C-13    7
C-12    7
C-25    7
C-16    7
C-19    7
C-24    7
C-30    7
C-26    7
C-29    7
Name: ID, dtype: int64

In [65]:
data.PRODUCT.value_counts()

OLIVES         13
HEINEKEN       12
BOURBON        11
COKE           10
ICE CREAM       9
CORNED BEEF     8
HERRING         8
SODA            8
TURKEY          8
BAGUETTE        8
APPLES          8
SARDINES        6
ARTICHOKE       6
AVOCADO         5
CRACKERS        5
STEAK           4
HAM             4
PEPPERS         4
CHICKEN         3
Name: PRODUCT, dtype: int64

In [107]:
df_pre = ~data.pivot(index = "ID",columns="PRODUCT",values="PRODUCT").isnull()
df_pre

PRODUCT,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
ID,,,,,,,,,,,,,,,,,,,
C-11,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
C-12,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
C-13,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
C-14,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
C-15,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True
C-16,False,True,True,True,False,False,True,False,False,False,True,True,False,False,False,False,False,False,True
C-17,True,False,False,False,False,True,True,True,False,False,True,False,True,False,False,True,False,False,False
C-18,False,False,False,True,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
C-19,False,False,False,False,True,False,False,False,True,False,True,True,False,True,False,False,True,True,False
C-20,True,False,False,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,True
C-21,False,True,True,True,True,False,False,True,False,False,True,True,False,False,False,False,False,False,False
C-22,False,True,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True,True,False
C-23,False,False,False,False,True,False,False,True,True,False,True,True,False,True,False,False,True,False,False
C-24,True,False,False,True,False,True,True,False,False,False,True,False,True,False,False,True,False,False,False
C-25,False,False,False,False,False,True,True,True,False,False,True,False,True,False,True,True,False,False,False
C-26,True,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,False,True
C-27,False,False,True,False,True,False,True,False,False,False,False,False,True,True,False,False,True,False,True
C-28,False,True,False,False,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
C-29,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,True,True,False,True
C-30,False,False,False,False,True,False,True,False,False,True,False,False,True,True,False,False,True,False,True

In [108]:
# min_support = 0.5

df_freq = apriori(df_pre,min_support=0.5,use_colnames=True)
df_freq.round(3)

   support           itemsets
0     0.55          (BOURBON)
1     0.50             (COKE)
2     0.60         (HEINEKEN)
3     0.65           (OLIVES)
4     0.50  (OLIVES, BOURBON)

In [109]:
df_asso_rule = association_rules(df_freq,metric="confidence",min_threshold=0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(OLIVES),(BOURBON),0.65,0.55,0.5,0.769,1.399,0.142,1.95
1,(BOURBON),(OLIVES),0.55,0.65,0.5,0.909,1.399,0.142,3.85