In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [2]:
data = pd.read_csv("./통신고객이탈.csv", engine="python")
data.head()

,CHURN,CUSTOMER_ID,GENDER,AGE,CHARGE_TYPE,HANDSET,USAGE_BAND,SERVICE_DURATION,DROPPED_CALLS,PEAK_CALLS_NO,PEAK_CALLS_TIME,WEEKEND_CALLS_NO,WEEKEND_CALLS_TIME,TOTAL_CALLS_NO,TOTAL_CALLS_TIME
0,Active,K102990,F,31,CAT 100,ASAD170,Med,33.33,6,218,379.8,9,21.6,366,632.4
1,Active,K103280,M,27,CAT 100,S50,Med,30.87,10,373,656.4,11,28.0,411,810.4
2,Active,K103660,M,27,CAT 100,ASAD170,Med,49.40,11,260,582.0,0,0.0,265,614.1
3,Active,K103730,M,61,CAT 100,ASAD170,Med,48.60,1,294,661.8,14,101.5,326,844.0
4,Active,K104560,F,52,CAT 100,S50,Med,56.03,0,221,555.6,7,25.0,274,673.0

In [3]:
data.isnull().sum(axis=0)

CHURN                 0
CUSTOMER_ID           0
GENDER                0
AGE                   0
CHARGE_TYPE           0
HANDSET               0
USAGE_BAND            0
SERVICE_DURATION      0
DROPPED_CALLS         0
PEAK_CALLS_NO         0
PEAK_CALLS_TIME       0
WEEKEND_CALLS_NO      0
WEEKEND_CALLS_TIME    0
TOTAL_CALLS_NO        0
TOTAL_CALLS_TIME      0
dtype: int64

In [4]:
data.drop("CUSTOMER_ID",axis=1,inplace=True)
data.CHURN.value_counts()

Active     750
Churned    180
Name: CHURN, dtype: int64

In [5]:
data.CHURN = data.CHURN.map(lambda x : 0 if x == 'Active' else 1)
data.CHURN.value_counts()

0    750
1    180
Name: CHURN, dtype: int64

In [11]:
data_numeric = data.select_dtypes(["int64","float64"])
data_numeric.head()

,CHURN,AGE,SERVICE_DURATION,DROPPED_CALLS,PEAK_CALLS_NO,PEAK_CALLS_TIME,WEEKEND_CALLS_NO,WEEKEND_CALLS_TIME,TOTAL_CALLS_NO,TOTAL_CALLS_TIME
0,0,31,33.33,6,218,379.8,9,21.6,366,632.4
1,0,27,30.87,10,373,656.4,11,28.0,411,810.4
2,0,27,49.40,11,260,582.0,0,0.0,265,614.1
3,0,61,48.60,1,294,661.8,14,101.5,326,844.0
4,0,52,56.03,0,221,555.6,7,25.0,274,673.0

In [12]:
from sklearn.model_selection import train_test_split

df_y = data_numeric.CHURN
df_x = data_numeric.drop("CHURN",axis=1)

df_train_x, df_test_x, df_train_y, df_test_y = train_test_split(df_x,df_y,test_size=0.3,random_state=1234)

print("train data X size: {}".format(df_train_x.shape))
print("train data Y size: {}".format(df_train_y.shape))
print("test data X size: {}".format(df_test_x.shape))
print("test data Y size: {}".format(df_test_y.shape))

train data X size: (651, 9)
train data Y size: (651,)
test data X size: (279, 9)
test data Y size: (279,)

In [13]:
naive_model = GaussianNB()
naive_model.fit(X=df_train_x,y=df_train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [14]:
naive_model.class_prior_.round(3)

array([0.791, 0.209])

In [15]:
print("Accucary: {:.3f}".format(naive_model.score(df_test_x,df_test_y)))

Accucary: 0.835