In [4]:
print('hello')

hello

## hello world!
*hello*
**hello**
***hello***

In [5]:
print('world')

world

In [6]:
for item in range(5):
    print(item)

0
1
2
3
4

In [8]:
for c in 'hello World!':
    print(c)

h
e
l
l
o

W
o
r
l
d
!

In [11]:
dan = int(input("출력하고 싶은 단을 입력하세요: "))

for i in range(1,10):
    print(dan,'*',i,'=',dan*i)

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [12]:
num = input('input an integer: ')

num_set = list(map(int,list(num)))

for n in num_set:
    print('★' * n)

input an integer: 864261236
★★★★★★★★
★★★★★★
★★★★
★★
★★★★★★
★
★★
★★★
★★★★★★

In [13]:
lst = []

In [14]:
lst.append("red")

In [15]:
lst.append("green")

In [16]:
lst.append("blue")

In [17]:
lst

['red', 'green', 'blue']

In [18]:
lst.pop

In [21]:
lst.pop()

'blue'

In [27]:
a = [2,6,23,4,56,123,5]

In [28]:
sorted(a)

[2, 4, 5, 6, 23, 56, 123]

In [29]:
a

[2, 6, 23, 4, 56, 123, 5]

In [39]:
set('hello')

{'e', 'h', 'l', 'o'}

In [41]:
d = {}

In [42]:
d[1] = 12

In [44]:
d[1]

12

In [46]:
d.keys()

dict_keys([1])

In [48]:
d.values()

dict_values([12])

In [50]:
d.items()

dict_items([(1, 12)])

In [53]:
12 in d

False

In [54]:
1 in d

True

In [55]:
d = { 'youn': 1, 'lee': 2, 'park': 10}

sorted_key = sorted(d.values())

In [56]:
sorted_key

[1, 2, 10]

In [59]:
for k in d:
    print(k)

youn
lee
park

In [60]:
for k,v in d.items():
    print(k,v)

youn 1
lee 2
park 10